/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #7b9ed2, #dec3e2) ;
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/* Container utility */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


.heroWrapper {
  height: 100vh;
  width: 100%;
  background:linear-gradient(to right, #7b9ed2, #dec3e2);
  position: relative;
  overflow: hidden;
}

.heroContent {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 1rem;
}

.heroContent h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.heroContent p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.button {
  padding: 0.8rem 1.5rem;
  background-color: #ffffff;
  color: #0d0d2b;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #dddddd;
}
